<mat-card appearance="outlined">
  <mat-card-content>
    <cdk-virtual-scroll-viewport itemSize="50" class="h-40 lg:h-[60vh]">
      <div *cdkVirtualFor="let item of dataSourceProduct" class="h-10">
        <div class="flex justify-between">
          <span>{{ item.title }}</span>
          <div class="flex gap-2">
            <button
              mat-icon-button
              color="primary"
              title="Mostrar detalles"
              type="button"
              (click)="openDialog(item)"
            >
              <mat-icon>visibility</mat-icon>
            </button>
            <button
              mat-icon-button
              color="primary"
              title="Eliminar producto"
              type="button"
              (click)="deleteProduct(item.id, item.title)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-card-content>
</mat-card>
