/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import "./app/styles/tailwind-import.css";

:root {
  --sidenav-width: 12.5rem;
  --mat-sidenav-container-width: var(--sidenav-width);
  --mat-sidenav-content-background-color: transparent;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
body {
  background: var(--mat-sys-surface-container-low);
  color: var(--mat-sys-on-surface);
  transition: background-color 200ms, color 200ms;
}

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));
}